h1, h2 {
  font-weight: 600;
  color: #5E3348;
}
h3, h4, h5 {
  font-weight: 500;
}
dl dt {
  font-weight: 500;
  margin-bottom: 0;
}
dl dd {
  margin-bottom: 0;
}

.hero {
  background-color: #e8d9b0;
}


// .contain-to-grid, .top-bar {
//   background-color: #1b4080;
// }
